/** {
    box-sizing: border-box;
    padding: 2px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}*/
.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: left;
}

.flex-container > * {
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

header {
    padding: 20px;
    text-align: center;
    color:white;
    background-image: url("../images/header002.jpg");
}

footer {background: #aaa;color:white;text-align: center;padding: 20px;vertical-align:middle;}

body {
  margin:0;
  background-color: #e6fff5;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.column {
    margin-top: 0;
    margin: 5px;
    padding-top: 1em;
    font-size: 20px;
}

.left {
  margin-right: 15px;
  float: left;
}

.left img{
  width: 200px;
}

.right {
  text-align: left;
  font-weight: bold;
}

.proj {
  margin: 5px;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 2em;
}

ul {
  margin-left:40px;
  margin-top: 0;
  margin: 0px;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}

ul.proj_li {
  list-style-type: square;
}

.pub_li a {
   text-decoration:none;
  color:#006600;
}

.pub_li a:visited {
    background-color: #e0ebeb;
}

.pub_li a:hover {
    background-color: #b3d9ff;
}

.pub_li a:active {
    background-color: #e6e6e6;
} 

.patent_li a {
   text-decoration:none;
   color:#006600;
}

.patent_li a:visited {
    background-color: #e0ebeb;
}

.patent_li a:hover {
    background-color: #b3d9ff;
}

.patent_li a:active {
    background-color: #e6e6e6;
} 

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}